# Exploratory Data Analysis
## 1) Looking at the current features of menu item
## 2) Fetch subset of important features

In [4]:
SUSHIBOX_HQ = 6
BENNY_CO_HQ = 87
COPPERBRANCH_HQ = 144
MANDYS_HQ = 223

In [22]:
import pandas as pd

In [4]:
%%bigquery menu_items

SELECT
  mi.*,
  cp.NAME,
  CAST(cp.HEADQUARTER_PROFILE_ID AS INT64) as HEADQUARTER_PROFILE_ID
FROM
  `ueat-data-science-staging.ueat_mainapi.menu__items` mi
INNER JOIN
  `ueat-data-science-staging.ueat_mainapi.identity__company_profiles` cp
ON
  cp.company_profile_id = mi.company_profile_id

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 993.68query/s]
Downloading: 100%|██████████| 623695/623695 [00:02<00:00, 238340.85rows/s]

In [5]:
df = menu_items.copy()

In [6]:
df.columns

Index(['ITEM_ID', 'IS_DISABLED', 'COMPANY_PROFILE_ID', 'ORDERS',
       'ITEM_OPTION_ID', 'DESCRIPTION', 'IMAGE_PATH', 'MINIMUM_MINUTES_DELAY',
       'TYPE', 'ADMIN_NAME', 'DISPLAY_NAME', 'IS_OPTION_NOT_ADDED',
       'NO_FEDERAL_TAX', 'NO_STATE_TAX', 'IS_DETAILED_VARIATION',
       'ITEM_NUMBER', 'PIECE_NUMBER', 'PAID_PIECE_NUMBER', 'IS_USING_QUANTITY',
       'QUANTITY_MINIMUM', 'QUANTITY_MAXIMUM', 'QUANTITY_STEP',
       'POS_SALE_ITEM_ID', 'PLU_CODE', 'VARIATION_TITLE', 'MINIMUM_HOUR',
       'MAXIMUM_HOUR', 'POS_EXTERNAL_ID', 'QUESTION_STEP_GROUP_ID',
       'EXTRA_POSITION_GROUP_ID', 'PIECE_LABEL_SINGULAR', 'PIECE_LABEL_PLURAL',
       'ALLOW_NOTES', 'SKU_CODE', 'UNIVERSAL_PRODUCT_CODE', 'HAS_ALCOHOL',
       'MINIMUM_DATE', 'MAXIMUM_DATE', 'DAYS_OF_WEEK',
       'NO_FEDERAL_TAX_ON_QUANTITY', 'NO_STATE_TAX_ON_QUANTITY',
       'INVENTORY_ENABLED', 'ITEM_KIND', 'TAX_CATEGORY', 'CREATED_AT',
       'CREATED_BY', 'UPDATED_AT', 'UPDATED_BY', 'IS_ACTIVE', 'NAME',
       'HEADQUARTER_PROFILE_ID'],
      dtype='object')

In [7]:
menu_items_sub = df.iloc[:,[2,50,0,1,6,4,10,15,16,18,24,25,25,32,34,35,36,37,38,42,48,49,5,7,8,9]].copy()

In [8]:
menu_items_sub.shape

(623695, 26)

In [11]:
menu_items_sub.head()

,COMPANY_PROFILE_ID,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED,IMAGE_PATH,ITEM_OPTION_ID,DISPLAY_NAME,ITEM_NUMBER,PIECE_NUMBER,IS_USING_QUANTITY,...,MINIMUM_DATE,MAXIMUM_DATE,DAYS_OF_WEEK,ITEM_KIND,IS_ACTIVE,NAME,DESCRIPTION,MINIMUM_MINUTES_DELAY,TYPE,ADMIN_NAME
0,512,220,66871,False,None,NaN,"{""fr"":""Petite""}",None,NaN,False,...,NaT,NaT,0,0,True,"{""fr"":""Restaurant le Moulin""}",None,0,0,Sandwiches Poutine moulin - Petite
1,512,220,282183,False,None,NaN,"{""en"":""Sauce Pizza 1 Litre"",""fr"":""Sauce Pizza...",None,NaN,False,...,NaT,NaT,0,0,False,"{""fr"":""Restaurant le Moulin""}","{""en"":"""",""fr"":""""}",0,1,Sauce Pizza 1 Litre
2,512,220,46663,False,None,NaN,"{""fr"":""Oignons""}",None,NaN,False,...,NaT,NaT,0,0,True,"{""fr"":""Restaurant le Moulin""}",None,0,0,Sandwiches - Extras (Ajouts) - Oignons
3,512,220,46694,False,None,NaN,"{""fr"":""Petite""}",None,NaN,False,...,NaT,NaT,0,0,True,"{""fr"":""Restaurant le Moulin""}",None,0,0,Poutine - Petite
4,512,220,46724,False,None,NaN,"{""fr"":""Mini 8\""""}",None,NaN,False,...,NaT,NaT,0,0,True,"{""fr"":""Restaurant le Moulin""}",None,0,0,"Pizza - Sizes (Variante) - Mini 8"""

In [11]:
menu_items_sub.columns

Index(['COMPANY_PROFILE_ID', 'HEADQUARTER_PROFILE_ID', 'ITEM_ID',
       'IS_DISABLED', 'IMAGE_PATH', 'ITEM_OPTION_ID', 'DISPLAY_NAME',
       'ITEM_NUMBER', 'PIECE_NUMBER', 'IS_USING_QUANTITY', 'VARIATION_TITLE',
       'MINIMUM_HOUR', 'MINIMUM_HOUR', 'ALLOW_NOTES', 'UNIVERSAL_PRODUCT_CODE',
       'HAS_ALCOHOL', 'MINIMUM_DATE', 'MAXIMUM_DATE', 'DAYS_OF_WEEK',
       'ITEM_KIND', 'IS_ACTIVE', 'NAME', 'DESCRIPTION',
       'MINIMUM_MINUTES_DELAY', 'TYPE', 'ADMIN_NAME'],
      dtype='object')

In [9]:
common = menu_items_sub.merge(menu_item_attributes_text,on=['ITEM_ID','COMPANY_PROFILE_ID'])
menu_items_sub[(~menu_items_sub.ITEM_ID.isin(common.ITEM_ID))&(~menu_items_sub.COMPANY_PROFILE_ID.isin(common.COMPANY_PROFILE_ID))].shape

NameError: name 'menu_item_attributes_text' is not defined

## Feature Menu Items

Analyzing features of the items

In [10]:
%%bigquery feature_menu_items

select * from `ueat-data-science-staging.ueat_ai.formatted_feature_items`

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 1005.71query/s]
Downloading: 100%|██████████| 522301/522301 [00:01<00:00, 364509.90rows/s]

In [11]:
feature_menu_items.shape

(522301, 22)

In [12]:
feature_menu_items.head(5)

,ITEM_ID,MAIN_LANGUAGE,DISPLAY_NAME,DESCRIPTION,CATEGORY_IDS,CATEGORY_NAMES,CATEGORY_MAIN_LANGUAGES,OPTION_GROUP_IDS,OPTION_GROUP_NAMES,OPTION_GROUP_MAIN_LANGUAGES,...,IS_ITEM,IS_OPTION,IS_VARIATION,IS_SUGGESTION,IS_CATEGORIZED,MIN_UNIT_PRICE,AVG_UNIT_PRICE,MAX_UNIT_PRICE,NUM_UNIT_PRICES,EVENT_TIMESTAMP
0,196197,fr,pain sans gluten,None,[],[],[],[],[],[],...,False,False,False,False,False,None,None,None,NaN,2020-06-18 19:58:16.923000+00:00
1,748925,en,yes! make it gluten friendly,None,[],[],[],[],[],[],...,False,False,False,False,False,None,None,None,NaN,2021-11-20 00:09:43.017000+00:00
2,62294,fr,régulier,None,[],[],[],[],[],[],...,False,False,False,False,False,None,None,None,NaN,2018-11-28 15:53:47.890000+00:00
3,679476,fr,p.l. sans sucre,p.l. unsweetened,[],[],[],[],[],[],...,False,False,False,False,False,None,None,None,NaN,2017-02-14 19:39:08.997000+00:00
4,435580,en,campio 9''pré-c,None,[],[],[],[],[],[],...,False,False,False,False,False,None,None,None,NaN,2021-05-17 15:13:39.170000+00:00

In [13]:
%%bigquery menu_items_feaures_CompN

select mia.*, mi.COMPANY_PROFILE_ID from `ueat-data-science-staging.ueat_ai.formatted_feature_items` mia
inner join `ueat-data-science-staging.ueat_mainapi.menu__items` mi on mi.item_id = mia.item_id

Query complete after 0.00s: 100%|██████████| 4/4 [00:00<00:00, 2015.77query/s]
Downloading: 100%|██████████| 521854/521854 [00:01<00:00, 371101.40rows/s]

In [14]:
menu_items_feaures_CompN.shape

(521854, 23)

In [15]:
menu_items_feaures_CompN.columns

Index(['ITEM_ID', 'MAIN_LANGUAGE', 'DISPLAY_NAME', 'DESCRIPTION',
       'CATEGORY_IDS', 'CATEGORY_NAMES', 'CATEGORY_MAIN_LANGUAGES',
       'OPTION_GROUP_IDS', 'OPTION_GROUP_NAMES', 'OPTION_GROUP_MAIN_LANGUAGES',
       'ROOT_ITEM_IDS', 'ROOT_ITEM_DISPLAY_NAMES', 'IS_ITEM', 'IS_OPTION',
       'IS_VARIATION', 'IS_SUGGESTION', 'IS_CATEGORIZED', 'MIN_UNIT_PRICE',
       'AVG_UNIT_PRICE', 'MAX_UNIT_PRICE', 'NUM_UNIT_PRICES',
       'EVENT_TIMESTAMP', 'COMPANY_PROFILE_ID'],
      dtype='object')

In [16]:
menu_items_feaures_CompN_sub = menu_items_feaures_CompN.iloc[:,[0,22,2,3,1,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]]

In [17]:
menu_items_feaures_CompN_sub.columns

Index(['ITEM_ID', 'COMPANY_PROFILE_ID', 'DISPLAY_NAME', 'DESCRIPTION',
       'MAIN_LANGUAGE', 'CATEGORY_IDS', 'CATEGORY_NAMES',
       'CATEGORY_MAIN_LANGUAGES', 'OPTION_GROUP_IDS', 'OPTION_GROUP_NAMES',
       'OPTION_GROUP_MAIN_LANGUAGES', 'ROOT_ITEM_IDS',
       'ROOT_ITEM_DISPLAY_NAMES', 'IS_ITEM', 'IS_OPTION', 'IS_VARIATION',
       'IS_SUGGESTION', 'IS_CATEGORIZED', 'MIN_UNIT_PRICE', 'AVG_UNIT_PRICE',
       'MAX_UNIT_PRICE', 'NUM_UNIT_PRICES'],
      dtype='object')

In [18]:
menu_items_feaures_CompN_sub.shape

(521854, 22)

In [19]:
menu_items_feaures_CompN_sub[(menu_items_feaures_CompN_sub.ITEM_ID.isin(menu_items_sub.ITEM_ID))].shape

(521854, 22)

In [21]:
import pandas as pd

In [22]:
menu_item_feature_merge = pd.merge(menu_items_sub, menu_items_feaures_CompN_sub, on=['ITEM_ID', 'COMPANY_PROFILE_ID'],how='left')

In [24]:
menu_items_sub.shape

(623695, 26)

In [25]:
menu_item_feature_merge.shape

(624200, 46)

In [27]:
menu_item_feature_merge['ITEM_ID'].duplicated().any() 
menu_item_feature_merge[menu_item_feature_merge.duplicated(['ITEM_ID'], keep=False)]

,COMPANY_PROFILE_ID,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED,IMAGE_PATH,ITEM_OPTION_ID,DISPLAY_NAME_x,ITEM_NUMBER,PIECE_NUMBER,IS_USING_QUANTITY,...,ROOT_ITEM_DISPLAY_NAMES,IS_ITEM,IS_OPTION,IS_VARIATION,IS_SUGGESTION,IS_CATEGORIZED,MIN_UNIT_PRICE,AVG_UNIT_PRICE,MAX_UNIT_PRICE,NUM_UNIT_PRICES
4124,1286,512,353563,False,"{""fr"":""a7fc7fcc-2f05-419c-bd55-6655533b3cad.png""}",NaN,"{""fr"":""Ovenbaked chien petites bouchées viande...",OBT9807-5-PB,NaN,False,...,"[""ovenbaked chien viande rouge sans grains""]",False,False,True,False,True,26.990000000,26.990000000,26.990000000,2.0
4125,1286,512,353563,False,"{""fr"":""a7fc7fcc-2f05-419c-bd55-6655533b3cad.png""}",NaN,"{""fr"":""Ovenbaked chien petites bouchées viande...",OBT9807-5-PB,NaN,False,...,"[""ovenbaked chien sans grains petites bouchées""]",False,False,True,False,True,26.990000000,26.990000000,26.990000000,2.0
12387,2580,1000,229474,False,None,NaN,"{""fr"":""Familiale""}",None,NaN,False,...,"[""bœuf, bœuf, boeuf""]",False,False,True,False,True,16.450000000,17.300000000,18.150000000,2.0
12388,2580,1000,229474,False,None,NaN,"{""fr"":""Familiale""}",None,NaN,False,...,"[""petit poulet""]",False,False,True,False,True,16.450000000,17.300000000,18.150000000,2.0
24375,1838,739,165426,False,None,NaN,"{""fr"":""2 personnes""}",None,NaN,False,...,"[""boîte à manger #1""]",False,False,True,False,True,74.000000000,74.000000000,74.000000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607417,1533,610,146495,False,None,NaN,"{""fr"":""Laits frappés - Espresso "",""en"":""Espres...",None,NaN,False,...,"[""laits frappés - chocolat noir 70%""]",True,False,True,False,True,6.500000000,6.500000000,6.500000000,1.0
607418,1533,610,146498,False,None,NaN,"{""fr"":""Laits frappés - Vanille française "",""en...",None,NaN,False,...,"[""laits frappés - chocolat noir 70%""]",True,False,True,False,True,6.500000000,6.500000000,6.500000000,1.0
607419,1533,610,146498,False,None,NaN,"{""fr"":""Laits frappés - Vanille française "",""en...",None,NaN,False,...,"[""laits frappés - chocolat noir 70%""]",True,False,True,False,True,6.500000000,6.500000000,6.500000000,1.0
607420,1533,610,146508,False,"{""fr"":""fbd69396-3fb3-44ac-b2a2-316521b0e704.jpg""}",NaN,"{""fr"":""Laits frappés - Caramel salé à l ’érabl...",None,NaN,False,...,"[""laits frappés - chocolat noir 70%""]",True,False,True,False,True,6.500000000,6.500000000,6.500000000,1.0
607421,1533,610,146508,False,"{""fr"":""fbd69396-3fb3-44ac-b2a2-316521b0e704.jpg""}",NaN,"{""fr"":""Laits frappés - Caramel salé à l ’érabl...",None,NaN,False,...,"[""laits frappés - chocolat noir 70%""]",True,False,True,False,True,6.500000000,6.500000000,6.500000000,1.0

In [26]:
menu_item_feature_merge.head()

,COMPANY_PROFILE_ID,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED,IMAGE_PATH,ITEM_OPTION_ID,DISPLAY_NAME_x,ITEM_NUMBER,PIECE_NUMBER,IS_USING_QUANTITY,...,ROOT_ITEM_DISPLAY_NAMES,IS_ITEM,IS_OPTION,IS_VARIATION,IS_SUGGESTION,IS_CATEGORIZED,MIN_UNIT_PRICE,AVG_UNIT_PRICE,MAX_UNIT_PRICE,NUM_UNIT_PRICES
0,512,220,66871,False,None,NaN,"{""fr"":""Petite""}",None,NaN,False,...,[],False,False,False,False,False,None,None,None,NaN
1,512,220,282183,False,None,NaN,"{""en"":""Sauce Pizza 1 Litre"",""fr"":""Sauce Pizza...",None,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,512,220,46663,False,None,NaN,"{""fr"":""Oignons""}",None,NaN,False,...,[],False,False,False,False,False,0E-9,0E-9,0E-9,1.0
3,512,220,46694,False,None,NaN,"{""fr"":""Petite""}",None,NaN,False,...,[],False,False,False,False,False,None,None,None,NaN
4,512,220,46724,False,None,NaN,"{""fr"":""Mini 8\""""}",None,NaN,False,...,[],False,False,False,False,False,8.500000000,8.500000000,8.500000000,1.0

In [28]:
menu_item_feature_merge_ = menu_item_feature_merge.iloc[:,[0,1,2,3,4,5,6,22,26,27,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,23,24,25,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45]]

In [28]:
menu_item_feature_merge_.head()

,COMPANY_PROFILE_ID,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED,IMAGE_PATH,ITEM_OPTION_ID,DISPLAY_NAME_x,DESCRIPTION_x,DISPLAY_NAME_y,DESCRIPTION_y,...,ROOT_ITEM_DISPLAY_NAMES,IS_ITEM,IS_OPTION,IS_VARIATION,IS_SUGGESTION,IS_CATEGORIZED,MIN_UNIT_PRICE,AVG_UNIT_PRICE,MAX_UNIT_PRICE,NUM_UNIT_PRICES
0,512,220,66871,False,None,NaN,"{""fr"":""Petite""}",None,petite,None,...,[],False,False,False,False,False,None,None,None,NaN
1,512,220,282183,False,None,NaN,"{""en"":""Sauce Pizza 1 Litre"",""fr"":""Sauce Pizza...","{""en"":"""",""fr"":""""}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,512,220,46663,False,None,NaN,"{""fr"":""Oignons""}",None,oignons,None,...,[],False,False,False,False,False,0E-9,0E-9,0E-9,1.0
3,512,220,46694,False,None,NaN,"{""fr"":""Petite""}",None,petite,None,...,[],False,False,False,False,False,None,None,None,NaN
4,512,220,46724,False,None,NaN,"{""fr"":""Mini 8\""""}",None,"mini 8""",None,...,[],False,False,False,False,False,8.500000000,8.500000000,8.500000000,1.0

In [29]:
menu_item_feature_merge.head()

,COMPANY_PROFILE_ID,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED,IMAGE_PATH,ITEM_OPTION_ID,DISPLAY_NAME_x,ITEM_NUMBER,PIECE_NUMBER,IS_USING_QUANTITY,...,ROOT_ITEM_DISPLAY_NAMES,IS_ITEM,IS_OPTION,IS_VARIATION,IS_SUGGESTION,IS_CATEGORIZED,MIN_UNIT_PRICE,AVG_UNIT_PRICE,MAX_UNIT_PRICE,NUM_UNIT_PRICES
0,512,220,66871,False,None,NaN,"{""fr"":""Petite""}",None,NaN,False,...,[],False,False,False,False,False,None,None,None,NaN
1,512,220,282183,False,None,NaN,"{""en"":""Sauce Pizza 1 Litre"",""fr"":""Sauce Pizza...",None,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,512,220,46663,False,None,NaN,"{""fr"":""Oignons""}",None,NaN,False,...,[],False,False,False,False,False,0E-9,0E-9,0E-9,1.0
3,512,220,46694,False,None,NaN,"{""fr"":""Petite""}",None,NaN,False,...,[],False,False,False,False,False,None,None,None,NaN
4,512,220,46724,False,None,NaN,"{""fr"":""Mini 8\""""}",None,NaN,False,...,[],False,False,False,False,False,8.500000000,8.500000000,8.500000000,1.0

In [29]:
menu_item_feature_merge.shape

(624200, 46)

In [30]:
feature_menu_items.columns

Index(['ITEM_ID', 'MAIN_LANGUAGE', 'DISPLAY_NAME', 'DESCRIPTION',
       'CATEGORY_IDS', 'CATEGORY_NAMES', 'CATEGORY_MAIN_LANGUAGES',
       'OPTION_GROUP_IDS', 'OPTION_GROUP_NAMES', 'OPTION_GROUP_MAIN_LANGUAGES',
       'ROOT_ITEM_IDS', 'ROOT_ITEM_DISPLAY_NAMES', 'IS_ITEM', 'IS_OPTION',
       'IS_VARIATION', 'IS_SUGGESTION', 'IS_CATEGORIZED', 'MIN_UNIT_PRICE',
       'AVG_UNIT_PRICE', 'MAX_UNIT_PRICE', 'NUM_UNIT_PRICES',
       'EVENT_TIMESTAMP'],
      dtype='object')

In [34]:
feature_items_df = feature_menu_items.copy()

In [35]:
feature_items_df.shape

(522301, 22)

## subset of the items with description

In [36]:
feature_items_df_disc = menu_items_feaures_CompN[~menu_items_feaures_CompN['DESCRIPTION'].isnull()]

In [37]:
print(feature_items_df_disc['DESCRIPTION'])

3                                          p.l. unsweetened
8         chickpeas, cucumbers, corn, artichoke hearts, ...
11        servi sur vermicelles de riz et légumes croquants
14                                              champignons
15        a classic blend of crisp lettuce tossed with r...
                                ...
521767                                               1,89 l
521768                                               473 ml
521769                                               473 ml
521840                         2 $ de rabais sur chaque pot
521841                          3$ de rabais sur chaque pot
Name: DESCRIPTION, Length: 204460, dtype: object

In [38]:
feature_items_df_disc.shape

(204460, 23)

In [39]:
feature_items_df_disc.head(5)

,ITEM_ID,MAIN_LANGUAGE,DISPLAY_NAME,DESCRIPTION,CATEGORY_IDS,CATEGORY_NAMES,CATEGORY_MAIN_LANGUAGES,OPTION_GROUP_IDS,OPTION_GROUP_NAMES,OPTION_GROUP_MAIN_LANGUAGES,...,IS_OPTION,IS_VARIATION,IS_SUGGESTION,IS_CATEGORIZED,MIN_UNIT_PRICE,AVG_UNIT_PRICE,MAX_UNIT_PRICE,NUM_UNIT_PRICES,EVENT_TIMESTAMP,COMPANY_PROFILE_ID
3,679476,fr,p.l. sans sucre,p.l. unsweetened,[],[],[],[],[],[],...,False,False,False,False,None,None,None,NaN,2017-02-14 19:39:08.997000+00:00,6201
8,506197,en,superbiotic green wrap,"chickpeas, cucumbers, corn, artichoke hearts, ...",[],[],[],[],[],[],...,False,False,False,False,None,None,None,NaN,2021-06-24 14:18:36.797000+00:00,5747
11,17352,fr,poke bowl,servi sur vermicelles de riz et légumes croquants,[],[],[],[],[],[],...,False,False,False,False,None,None,None,NaN,2017-11-08 16:17:31.980000+00:00,97
14,695786,fr,ext.champignon fondu,champignons,[],[],[],[],[],[],...,False,False,False,False,None,None,None,NaN,2021-09-01 14:47:26.333000+00:00,671
15,662136,en,caesar salad combo,a classic blend of crisp lettuce tossed with r...,[],[],[],[],[],[],...,False,False,False,False,None,None,None,NaN,2021-04-08 21:19:33.637000+00:00,6128

## Menu categories

The menu categories table contains general information about the categories

In [31]:
%%bigquery menu_categories

SELECT
  mi.ITEM_ID,mi.COMPANY_PROFILE_ID,
  mi.DISPLAY_NAME,
  mc.*
FROM
  `ueat-data-science-staging.ueat_mainapi.menu__menu_categories` mc
INNER JOIN
  `ueat-data-science-staging.ueat_mainapi.menu__menu_items` m
ON
  m.CATEGORY_ID = mc.CATEGORY_ID
INNER JOIN
  `ueat-data-science-staging.ueat_mainapi.menu__items` mi
ON
  mi.ITEM_ID = m.ITEM_ID

Query complete after 0.00s: 100%|██████████| 5/5 [00:00<00:00, 2781.74query/s]
Downloading: 100%|██████████| 173705/173705 [00:00<00:00, 209934.62rows/s]

In [42]:
menu_categories.columns

Index(['ITEM_ID', 'COMPANY_PROFILE_ID', 'DISPLAY_NAME', 'CATEGORY_ID',
       'CREATED_AT', 'CREATED_BY', 'UPDATED_AT', 'UPDATED_BY', 'IS_ACTIVE',
       'ORDERS', 'EXTRA_LINK_ID', 'NAME', 'MENU_ID', 'TYPE',
       'MAITRED_DIVISION_ID', 'DESCRIPTION', 'MINIMUM_HOUR', 'MAXIMUM_HOUR',
       'IS_DISABLED', 'ADVERTISED_CATEGORY_TYPE', 'KIOSK_IMAGE_PATH',
       'WEB_IMAGE_PATH', 'IS_ENABLED_FOR_WEB', 'IS_ENABLED_FOR_KIOSK',
       'MINIMUM_DATE', 'MAXIMUM_DATE', 'DAYS_OF_WEEK', 'PARENT_CATEGORY_ID',
       'AI_EXPERIMENT_ID'],
      dtype='object')

In [43]:
menu_categories.head(5)

,ITEM_ID,COMPANY_PROFILE_ID,DISPLAY_NAME,CATEGORY_ID,CREATED_AT,CREATED_BY,UPDATED_AT,UPDATED_BY,IS_ACTIVE,ORDERS,...,ADVERTISED_CATEGORY_TYPE,KIOSK_IMAGE_PATH,WEB_IMAGE_PATH,IS_ENABLED_FOR_WEB,IS_ENABLED_FOR_KIOSK,MINIMUM_DATE,MAXIMUM_DATE,DAYS_OF_WEEK,PARENT_CATEGORY_ID,AI_EXPERIMENT_ID
0,31,1,"{""fr"":""12 ailes de poulet"",""en"":""12 chicken wi...",1,2016-04-19 21:00:39.297000+00:00,main.demo@cyprex.com,2016-08-23 13:37:16.260000+00:00,main.admin@cyprex.com,False,0,...,0,None,None,True,True,NaT,NaT,0,NaN,NaN
1,7,1,"{""fr"":""Crevettes papillons"",""en"":""Shrimp""}",1,2016-04-19 21:00:39.297000+00:00,main.demo@cyprex.com,2016-08-23 13:37:16.260000+00:00,main.admin@cyprex.com,False,0,...,0,None,None,True,True,NaT,NaT,0,NaN,NaN
2,29,1,"{""fr"":""Soupe du jour"",""en"":""Soup""}",1,2016-04-19 21:00:39.297000+00:00,main.demo@cyprex.com,2016-08-23 13:37:16.260000+00:00,main.admin@cyprex.com,False,0,...,0,None,None,True,True,NaT,NaT,0,NaN,NaN
3,32,1,"{""fr"":""Patates frites""}",1,2016-04-19 21:00:39.297000+00:00,main.demo@cyprex.com,2016-08-23 13:37:16.260000+00:00,main.admin@cyprex.com,False,0,...,0,None,None,True,True,NaT,NaT,0,NaN,NaN
4,621,1,"{""fr"":""Épluchette de blé d'Inde""}",1,2016-04-19 21:00:39.297000+00:00,main.demo@cyprex.com,2016-08-23 13:37:16.260000+00:00,main.admin@cyprex.com,False,0,...,0,None,None,True,True,NaT,NaT,0,NaN,NaN

In [33]:
menu_categories_sub = menu_categories.iloc[:,[0,1,2,8,9,14,15,21,26,27]].copy()

In [75]:
menu_categories_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173705 entries, 0 to 173704
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ITEM_ID              173705 non-null  int64
 1   COMPANY_PROFILE_ID   173705 non-null  int64
 2   DISPLAY_NAME         173705 non-null  object
 3   IS_ACTIVE            173705 non-null  bool
 4   ORDERS               173705 non-null  int64
 5   MAITRED_DIVISION_ID  815 non-null     float64
 6   DESCRIPTION          63011 non-null   object
 7   WEB_IMAGE_PATH       90929 non-null   object
 8   DAYS_OF_WEEK         173705 non-null  int64
 9   PARENT_CATEGORY_ID   5138 non-null    float64
dtypes: bool(1), float64(2), int64(4), object(3)
memory usage: 12.1+ MB

In [34]:
menu_categories_sub.columns

Index(['ITEM_ID', 'COMPANY_PROFILE_ID', 'DISPLAY_NAME', 'IS_ACTIVE', 'ORDERS',
       'MAITRED_DIVISION_ID', 'DESCRIPTION', 'WEB_IMAGE_PATH', 'DAYS_OF_WEEK',
       'PARENT_CATEGORY_ID'],
      dtype='object')

In [35]:
menu_categories_sub.shape

(173705, 10)

In [78]:
menu_categories_sub[(menu_categories_sub.ITEM_ID.isin(menu_items_sub.ITEM_ID))].shape

(173705, 10)

In [36]:
menu_item_feature_merge_.shape

(624200, 46)

In [37]:
menu_item_feature_cat_merge = pd.merge(menu_item_feature_merge_, menu_categories_sub, on=['ITEM_ID', 'COMPANY_PROFILE_ID'],how='left')

In [39]:
menu_item_feature_merge_.shape

(624200, 46)

In [104]:
menu_item_feature_cat_merge.columns

Index(['COMPANY_PROFILE_ID', 'HEADQUARTER_PROFILE_ID', 'ITEM_ID',
       'IS_DISABLED', 'IMAGE_PATH', 'ITEM_OPTION_ID', 'DISPLAY_NAME_x',
       'DESCRIPTION_x', 'DISPLAY_NAME_y', 'DESCRIPTION_y', 'ITEM_NUMBER',
       'PIECE_NUMBER', 'IS_USING_QUANTITY', 'VARIATION_TITLE', 'MINIMUM_HOUR',
       'MINIMUM_HOUR', 'ALLOW_NOTES', 'UNIVERSAL_PRODUCT_CODE', 'HAS_ALCOHOL',
       'MINIMUM_DATE', 'MAXIMUM_DATE', 'DAYS_OF_WEEK_x', 'ITEM_KIND',
       'IS_ACTIVE_x', 'NAME', 'MINIMUM_MINUTES_DELAY', 'TYPE', 'ADMIN_NAME',
       'MAIN_LANGUAGE', 'CATEGORY_IDS', 'CATEGORY_NAMES',
       'CATEGORY_MAIN_LANGUAGES', 'OPTION_GROUP_IDS', 'OPTION_GROUP_NAMES',
       'OPTION_GROUP_MAIN_LANGUAGES', 'ROOT_ITEM_IDS',
       'ROOT_ITEM_DISPLAY_NAMES', 'IS_ITEM', 'IS_OPTION', 'IS_VARIATION',
       'IS_SUGGESTION', 'IS_CATEGORIZED', 'MIN_UNIT_PRICE', 'AVG_UNIT_PRICE',
       'MAX_UNIT_PRICE', 'NUM_UNIT_PRICES', 'DISPLAY_NAME', 'IS_ACTIVE_y',
       'ORDERS', 'MAITRED_DIVISION_ID', 'DESCRIPTION', 'WEB_IMAGE_PATH',
       'DAYS_OF_WEEK_y', 'PARENT_CATEGORY_ID'],
      dtype='object')

In [103]:
#menu_item_feature_cat_merge.loc[menu_item_feature_cat_merge.DAYS_OF_WEEK_y>0, ['COMPANY_PROFILE_ID', 'ITEM_ID', 'DAYS_OF_WEEK_x', 'DAYS_OF_WEEK_y', 'IS_ACTIVE_x', 'IS_ACTIVE_y']]

menu_item_feature_cat_merge.loc[menu_item_feature_cat_merge.ITEM_ID.duplicated(keep=False), ['COMPANY_PROFILE_ID', 'ITEM_ID', 'DAYS_OF_WEEK_x', 'DAYS_OF_WEEK_y', 'IS_ACTIVE_x', 'IS_ACTIVE_y']]

,COMPANY_PROFILE_ID,ITEM_ID,DAYS_OF_WEEK_x,DAYS_OF_WEEK_y,IS_ACTIVE_x,IS_ACTIVE_y
1687,4098,745210,0,0.0,True,True
1688,4098,745210,0,0.0,True,True
3068,4100,483710,0,64.0,True,True
3069,4100,483710,0,1.0,True,True
4126,1286,353563,0,NaN,True,NaN
...,...,...,...,...,...,...
624362,12,1169,0,0.0,True,True
624363,12,1170,0,0.0,True,True
624364,12,1170,0,0.0,True,True
624365,12,1171,0,0.0,True,True
624366,12,1171,0,0.0,True,True

In [105]:
menu_item_feature_cat_merge.shape

(632805, 54)

In [31]:
(menu_categories_sub['TYPE'] != 0).sum()

4

In [32]:
menu_categories_sub[menu_categories_sub['TYPE'] != 0]

,ITEM_ID,DISPLAY_NAME,CATEGORY_ID,IS_ACTIVE,ORDERS,EXTRA_LINK_ID,NAME,MENU_ID,TYPE,DESCRIPTION,DISPLAY_NAME,UPDATED_AT,MAXIMUM_HOUR,IS_DISABLED,MINIMUM_DATE,CATEGORY_ID,CREATED_BY,DAYS_OF_WEEK,PARENT_CATEGORY_ID
34,611,"{""fr"":""Piment""}",50,False,3,0,None,1,1,None,"{""fr"":""Piment""}",2016-08-23 13:50:43.703000+00:00,NaT,False,NaT,50,main.admin@cyprex.com,0,NaN
35,610,"{""fr"":""Format repas 160 gr""}",50,False,3,0,None,1,1,None,"{""fr"":""Format repas 160 gr""}",2016-08-23 13:50:43.703000+00:00,NaT,False,NaT,50,main.admin@cyprex.com,0,NaN
36,612,"{""fr"":""Format entrée 70 gr""}",50,False,3,0,None,1,1,None,"{""fr"":""Format entrée 70 gr""}",2016-08-23 13:50:43.703000+00:00,NaT,False,NaT,50,main.admin@cyprex.com,0,NaN
64,883,"{""en"":""extra feuille soya"",""fr"":""Feuille de so...",85,False,1,0,"{""en"":""Extras"",""fr"":""Extras""}",10,1,None,"{""en"":""extra feuille soya"",""fr"":""Feuille de so...",NaT,NaT,False,NaT,85,main.admin@cyprex.com,0,NaN

### Menu Item Attributes with Textual Data

In [107]:
%%bigquery menu_item_attributes_text

select mia.*, mi.COMPANY_PROFILE_ID from `ueat-data-science-staging.ueat_mainapi.menu__items_attributes_text` mia
inner join `ueat-data-science-staging.ueat_mainapi.menu__items` mi on mi.item_id = mia.item_id

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 603.58query/s]
Downloading: 100%|██████████| 23734/23734 [00:00<00:00, 28136.28rows/s]

In [108]:
menu_item_attributes_text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23734 entries, 0 to 23733
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ITEM_ID             23734 non-null  int64
 1   DISH_TYPE           23734 non-null  object
 2   DRINK_TYPE          23734 non-null  object
 3   MAIN_INGREDIENTS    23734 non-null  object
 4   COOKING_METHOD      23734 non-null  object
 5   TEMPERATURE         23734 non-null  object
 6   FLAVOR              23734 non-null  object
 7   DIET                23734 non-null  object
 8   SAUCE               23734 non-null  object
 9   ALLERGENS           23734 non-null  object
 10  OTHERS              23734 non-null  object
 11  COMPANY_PROFILE_ID  23734 non-null  int64
dtypes: int64(2), object(10)
memory usage: 2.2+ MB

In [109]:
menu_item_attributes_text.shape

(23734, 12)

In [110]:
menu_item_attributes_text.columns

Index(['ITEM_ID', 'DISH_TYPE', 'DRINK_TYPE', 'MAIN_INGREDIENTS',
       'COOKING_METHOD', 'TEMPERATURE', 'FLAVOR', 'DIET', 'SAUCE', 'ALLERGENS',
       'OTHERS', 'COMPANY_PROFILE_ID'],
      dtype='object')

In [184]:
menu_item_attributes_text[(menu_item_attributes_text.ITEM_ID.isin(menu_items_sub.ITEM_ID))].shape

(23734, 12)

In [111]:
menu_item_att_feature_cat_merge = pd.merge(menu_item_feature_cat_merge, menu_item_attributes_text, on=['ITEM_ID', 'COMPANY_PROFILE_ID'],how='left')

In [112]:
menu_item_att_feature_cat_merge.shape

(632805, 64)

In [113]:
%%bigquery menu_item_prices_

SELECT
  mip.*,
  mi.ITEM_ID,mi.COMPANY_PROFILE_ID,
  s.NAME,
  s.TYPE

FROM
  `ueat-data-science-staging.ueat_mainapi.menu__item_prices` mip


INNER JOIN
  `ueat-data-science-staging.ueat_mainapi.MENU__SERVICES` s
ON
  s.SERVICE_ID = mip.SERVICE_ID
INNER JOIN
  `ueat-data-science-staging.ueat_mainapi.menu__items` mi

ON
  mi.ITEM_ID = mip.ITEM_ID

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 732.63query/s]
Downloading: 100%|██████████| 1927162/1927162 [00:01<00:00, 1021630.83rows/s]

In [114]:
menu_item_prices_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1927162 entries, 0 to 1927161
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ITEM_PRICE_ID          int64
 1   UNIT_PRICE             float64
 2   ITEM_ID                int64
 3   SERVICE_ID             int64
 4   CREATED_AT             datetime64[ns, UTC]
 5   CREATED_BY             object
 6   UPDATED_AT             datetime64[ns, UTC]
 7   UPDATED_BY             object
 8   MAITRED_ITEM_PRICE_ID  float64
 9   LAST_CHANGE_DATE       datetime64[ns, UTC]
 10  SHOULD_SYNC            bool
 11  ITEM_ID_1              int64
 12  COMPANY_PROFILE_ID     int64
 13  NAME                   object
 14  TYPE                   int64
dtypes: bool(1), datetime64[ns, UTC](3), float64(2), int64(6), object(3)
memory usage: 207.7+ MB

In [151]:
menu_item_prices_sub_ = menu_item_prices_.iloc[:,[2,12,0,1,3,8,13,14]]

In [152]:
menu_item_prices_sub_.columns

Index(['ITEM_ID', 'COMPANY_PROFILE_ID', 'ITEM_PRICE_ID', 'UNIT_PRICE',
       'SERVICE_ID', 'MAITRED_ITEM_PRICE_ID', 'NAME', 'TYPE'],
      dtype='object')

In [153]:
menu_item_prices_sub_[(menu_item_prices_sub_.ITEM_ID.isin(menu_items_sub.ITEM_ID))].shape

(1927162, 8)

In [154]:
menu_item_prices_sub_.shape

(1927162, 8)

In [155]:
menu_item_prices_sub_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1927162 entries, 0 to 1927161
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ITEM_ID                int64
 1   COMPANY_PROFILE_ID     int64
 2   ITEM_PRICE_ID          int64
 3   UNIT_PRICE             float64
 4   SERVICE_ID             int64
 5   MAITRED_ITEM_PRICE_ID  float64
 6   NAME                   object
 7   TYPE                   int64
dtypes: float64(2), int64(5), object(1)
memory usage: 117.6+ MB

In [156]:
menu_item_prices_sub_.rename({'NAME': 'DELIVERY', 'TYPE': 'TYPE_DELIVERY'}, axis=1, inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [157]:
menu_item_prices_sub_.head()

,ITEM_ID,COMPANY_PROFILE_ID,ITEM_PRICE_ID,UNIT_PRICE,SERVICE_ID,MAITRED_ITEM_PRICE_ID,DELIVERY,TYPE_DELIVERY
0,373750,497,1033808,55.80,2844,NaN,"{""fr"": ""Livraison"", ""en"": ""Delivery"", ""es"": ""A...",1
1,373750,497,1033809,55.80,2842,NaN,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
2,252222,1437,740729,8.25,9632,NaN,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
3,139570,1437,740730,13.95,9632,NaN,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
4,139562,1437,740732,7.95,9632,NaN,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1

In [158]:
menu_item_prices_sub_[menu_item_prices_sub_.COMPANY_PROFILE_ID.isnull()]

Empty DataFrame
Columns: [ITEM_ID, COMPANY_PROFILE_ID, ITEM_PRICE_ID, UNIT_PRICE, SERVICE_ID, MAITRED_ITEM_PRICE_ID, DELIVERY, TYPE_DELIVERY]
Index: []

In [163]:
menu_item_prices_sub_.shape

(1927162, 8)

In [169]:
menu_item_prices_sub_.loc[menu_item_prices_sub_.ITEM_ID.duplicated(keep = False), ['COMPANY_PROFILE_ID', 'ITEM_ID', 'ITEM_PRICE_ID', 'UNIT_PRICE', 'SERVICE_ID', 'DELIVERY', 'TYPE_DELIVERY']]

,COMPANY_PROFILE_ID,ITEM_ID,ITEM_PRICE_ID,UNIT_PRICE,SERVICE_ID,DELIVERY,TYPE_DELIVERY
0,497,373750,1033808,55.80,2844,"{""fr"": ""Livraison"", ""en"": ""Delivery"", ""es"": ""A...",1
1,497,373750,1033809,55.80,2842,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
2,1437,252222,740729,8.25,9632,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
3,1437,139570,740730,13.95,9632,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
4,1437,139562,740732,7.95,9632,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
...,...,...,...,...,...,...,...
1927156,2979,272758,730945,2.99,20331,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
1927157,2979,272769,730964,2.99,20331,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
1927158,2979,272769,730966,2.99,20329,"{""fr"":""Pour emporter"",""en"":""Takeout"",""es"":""Par...",2
1927159,2980,275246,737277,2.99,20336,"{""fr"":""Pour emporter"",""en"":""Takeout"",""es"":""Par...",2
1927161,2980,275454,737611,2.99,20336,"{""fr"":""Pour emporter"",""en"":""Takeout"",""es"":""Par...",2

In [159]:
menu_item_att_feature_cat_price_merge = pd.merge(menu_item_att_feature_cat_merge, menu_item_prices_sub_, on=['ITEM_ID', 'COMPANY_PROFILE_ID'],how='left')

In [162]:
menu_item_att_feature_cat_price_merge.columns

Index(['COMPANY_PROFILE_ID', 'HEADQUARTER_PROFILE_ID', 'ITEM_ID',
       'IS_DISABLED', 'IMAGE_PATH', 'ITEM_OPTION_ID', 'DISPLAY_NAME_x',
       'DESCRIPTION_x', 'DISPLAY_NAME_y', 'DESCRIPTION_y', 'ITEM_NUMBER',
       'PIECE_NUMBER', 'IS_USING_QUANTITY', 'VARIATION_TITLE', 'MINIMUM_HOUR',
       'MINIMUM_HOUR', 'ALLOW_NOTES', 'UNIVERSAL_PRODUCT_CODE', 'HAS_ALCOHOL',
       'MINIMUM_DATE', 'MAXIMUM_DATE', 'DAYS_OF_WEEK_x', 'ITEM_KIND',
       'IS_ACTIVE_x', 'NAME', 'MINIMUM_MINUTES_DELAY', 'TYPE', 'ADMIN_NAME',
       'MAIN_LANGUAGE', 'CATEGORY_IDS', 'CATEGORY_NAMES',
       'CATEGORY_MAIN_LANGUAGES', 'OPTION_GROUP_IDS', 'OPTION_GROUP_NAMES',
       'OPTION_GROUP_MAIN_LANGUAGES', 'ROOT_ITEM_IDS',
       'ROOT_ITEM_DISPLAY_NAMES', 'IS_ITEM', 'IS_OPTION', 'IS_VARIATION',
       'IS_SUGGESTION', 'IS_CATEGORIZED', 'MIN_UNIT_PRICE', 'AVG_UNIT_PRICE',
       'MAX_UNIT_PRICE', 'NUM_UNIT_PRICES', 'DISPLAY_NAME', 'IS_ACTIVE_y',
       'ORDERS', 'MAITRED_DIVISION_ID', 'DESCRIPTION', 'WEB_IMAGE_PATH',
       'DAYS_OF_WEEK_y', 'PARENT_CATEGORY_ID', 'DISH_TYPE', 'DRINK_TYPE',
       'MAIN_INGREDIENTS', 'COOKING_METHOD', 'TEMPERATURE', 'FLAVOR', 'DIET',
       'SAUCE', 'ALLERGENS', 'OTHERS', 'ITEM_PRICE_ID', 'UNIT_PRICE',
       'SERVICE_ID', 'MAITRED_ITEM_PRICE_ID', 'DELIVERY', 'TYPE_DELIVERY'],
      dtype='object')

In [171]:
menu_item_att_feature_cat_price_merge.to_csv(r'menu_data.csv', sep='\t', encoding='utf-8', header='true')

In [172]:
menu_item_att_feature_cat_price_merge.shape

(2073384, 70)

In [126]:
menu_item_att_feature_cat_merge.shape

(632805, 64)

In [137]:
menu_item_att_feature_cat_price_merge.loc[~(menu_item_att_feature_cat_price_merge['ITEM_ID'] == menu_item_att_feature_cat_price_merge['ITEM_ID_1'])]

,COMPANY_PROFILE_ID,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED,IMAGE_PATH,ITEM_OPTION_ID,DISPLAY_NAME_x,DESCRIPTION_x,DISPLAY_NAME_y,DESCRIPTION_y,...,SAUCE,ALLERGENS,OTHERS,ITEM_PRICE_ID,UNIT_PRICE,SERVICE_ID,MAITRED_ITEM_PRICE_ID,ITEM_ID_1,DELIVERY,TYPE_DELIVERY
0,512,220,66871,False,None,NaN,"{""fr"":""Petite""}",None,petite,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,512,220,282183,False,None,NaN,"{""en"":""Sauce Pizza 1 Litre"",""fr"":""Sauce Pizza...","{""en"":"""",""fr"":""""}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,512,220,46694,False,None,NaN,"{""fr"":""Petite""}",None,petite,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,512,220,46759,False,None,NaN,"{""fr"":""Petit""}",None,petit,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,512,220,46760,False,None,NaN,"{""fr"":""Petite""}",None,petite,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2073367,3105,1242,285442,False,None,NaN,"{""fr"":""1 tranche de pain""}","{""fr"":""1 tranche de pain""}",1 tranche de pain,1 tranche de pain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2073376,3105,1242,285822,False,None,NaN,"{""fr"":""Verre de lait""}","{""fr"":""Verre de lait\n""}",verre de lait,verre de lait\n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2073377,3105,1242,287981,False,None,NaN,"{""fr"":""Tortillas de dinde""}",None,tortillas de dinde,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2073378,3105,1242,287983,False,None,NaN,"{""fr"":""Tortillas de jambon""}",None,tortillas de jambon,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2073379,3105,1242,339128,False,"{""fr"":""4a7c09bf-bbe0-4728-a2e3-e632a40f85ad.jpg""}",NaN,"{""fr"":""Jus en bouteille""}","{""fr"":""Jus en bouteille""}",jus en bouteille,jus en bouteille,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
menu_item_att_feature_cat_price_merge.shape

(2073384, 70)

In [139]:
menu_item_att_feature_cat_merge.shape

(632805, 64)

In [135]:
menu_item_att_feature_cat_price_merge.columns

Index(['COMPANY_PROFILE_ID', 'HEADQUARTER_PROFILE_ID', 'ITEM_ID',
       'IS_DISABLED', 'IMAGE_PATH', 'ITEM_OPTION_ID', 'DISPLAY_NAME_x',
       'DESCRIPTION_x', 'DISPLAY_NAME_y', 'DESCRIPTION_y', 'ITEM_NUMBER',
       'PIECE_NUMBER', 'IS_USING_QUANTITY', 'VARIATION_TITLE', 'MINIMUM_HOUR',
       'MINIMUM_HOUR', 'ALLOW_NOTES', 'UNIVERSAL_PRODUCT_CODE', 'HAS_ALCOHOL',
       'MINIMUM_DATE', 'MAXIMUM_DATE', 'DAYS_OF_WEEK_x', 'ITEM_KIND',
       'IS_ACTIVE_x', 'NAME', 'MINIMUM_MINUTES_DELAY', 'TYPE', 'ADMIN_NAME',
       'MAIN_LANGUAGE', 'CATEGORY_IDS', 'CATEGORY_NAMES',
       'CATEGORY_MAIN_LANGUAGES', 'OPTION_GROUP_IDS', 'OPTION_GROUP_NAMES',
       'OPTION_GROUP_MAIN_LANGUAGES', 'ROOT_ITEM_IDS',
       'ROOT_ITEM_DISPLAY_NAMES', 'IS_ITEM', 'IS_OPTION', 'IS_VARIATION',
       'IS_SUGGESTION', 'IS_CATEGORIZED', 'MIN_UNIT_PRICE', 'AVG_UNIT_PRICE',
       'MAX_UNIT_PRICE', 'NUM_UNIT_PRICES', 'DISPLAY_NAME', 'IS_ACTIVE_y',
       'ORDERS', 'MAITRED_DIVISION_ID', 'DESCRIPTION', 'WEB_IMAGE_PATH',
       'DAYS_OF_WEEK_y', 'PARENT_CATEGORY_ID', 'DISH_TYPE', 'DRINK_TYPE',
       'MAIN_INGREDIENTS', 'COOKING_METHOD', 'TEMPERATURE', 'FLAVOR', 'DIET',
       'SAUCE', 'ALLERGENS', 'OTHERS', 'ITEM_PRICE_ID', 'UNIT_PRICE',
       'SERVICE_ID', 'MAITRED_ITEM_PRICE_ID', 'ITEM_ID_1', 'DELIVERY',
       'TYPE_DELIVERY'],
      dtype='object')

In [37]:
%%bigquery menu_item_prices

select 
mip.*,
s.NAME,
s.TYPE
from `ueat-data-science-staging.ueat_mainapi.menu__item_prices` mip
inner join `ueat-data-science-staging.ueat_mainapi.MENU__SERVICES` s on s.service_id = mip.service_id

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 681.00query/s]
Downloading: 100%|██████████| 1927162/1927162 [00:02<00:00, 892584.99rows/s]

In [38]:
menu_item_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1927162 entries, 0 to 1927161
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ITEM_PRICE_ID          int64
 1   UNIT_PRICE             float64
 2   ITEM_ID                int64
 3   SERVICE_ID             int64
 4   CREATED_AT             datetime64[ns, UTC]
 5   CREATED_BY             object
 6   UPDATED_AT             datetime64[ns, UTC]
 7   UPDATED_BY             object
 8   MAITRED_ITEM_PRICE_ID  float64
 9   LAST_CHANGE_DATE       datetime64[ns, UTC]
 10  SHOULD_SYNC            bool
 11  NAME                   object
 12  TYPE                   int64
dtypes: bool(1), datetime64[ns, UTC](3), float64(2), int64(4), object(3)
memory usage: 178.3+ MB

In [39]:
menu_item_prices.head(10)

,ITEM_PRICE_ID,UNIT_PRICE,ITEM_ID,SERVICE_ID,CREATED_AT,CREATED_BY,UPDATED_AT,UPDATED_BY,MAITRED_ITEM_PRICE_ID,LAST_CHANGE_DATE,SHOULD_SYNC,NAME,TYPE
0,1033808,55.80,373750,2844,2021-02-25 13:37:10.677000+00:00, ,2021-07-12 04:01:03.880000+00:00,maj-normandin-2021-07-08|55.00000000,NaN,2021-02-25 13:37:10.677000+00:00,True,"{""fr"": ""Livraison"", ""en"": ""Delivery"", ""es"": ""A...",1
1,1033809,55.80,373750,2842,2021-02-25 13:37:12.780000+00:00, ,2021-07-12 04:01:03.880000+00:00,maj-normandin-2021-07-08|55.00000000,NaN,2021-02-25 13:37:12.777000+00:00,True,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
2,740729,8.25,252222,9632,2020-11-10 01:51:57.987000+00:00, ,NaT,oroy-script-2021-05-13,NaN,2020-11-10 01:51:57.987000+00:00,False,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
3,740730,13.95,139570,9632,2020-11-10 01:51:59.517000+00:00, ,NaT,oroy-script-2021-05-13,NaN,2020-11-10 01:51:59.517000+00:00,False,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
4,740732,7.95,139562,9632,2020-11-10 01:52:03.453000+00:00, ,NaT,oroy-script-2021-05-13,NaN,2020-11-10 01:52:03.453000+00:00,False,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
5,740733,11.95,252223,9632,2020-11-10 01:52:05.187000+00:00, ,2021-05-13 17:28:40.327000+00:00,oroy-script-2021-05-13,NaN,2021-05-13 17:28:36.327000+00:00,False,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
6,740743,27.95,254796,9632,2020-11-10 01:52:26.640000+00:00, ,NaT,oroy-script-2021-05-13,NaN,2020-11-10 01:52:26.640000+00:00,False,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
7,740744,16.95,140060,9632,2020-11-10 01:52:28.487000+00:00, ,NaT,oroy-script-2021-05-13,NaN,2020-11-10 01:52:28.487000+00:00,False,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
8,740745,18.95,140061,9632,2020-11-10 01:52:31.140000+00:00, ,NaT,oroy-script-2021-05-13,NaN,2020-11-10 01:52:31.140000+00:00,False,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
9,740746,23.95,254797,9632,2020-11-10 01:52:33.410000+00:00, ,NaT,oroy-script-2021-05-13,NaN,2020-11-10 01:52:33.410000+00:00,False,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1

In [40]:
menu_item_prices_sub = menu_item_prices.iloc[:,[2,0,1,3,8,11,12]]

In [41]:
menu_item_prices_sub.head()

,ITEM_ID,ITEM_PRICE_ID,UNIT_PRICE,SERVICE_ID,MAITRED_ITEM_PRICE_ID,NAME,TYPE
0,373750,1033808,55.80,2844,NaN,"{""fr"": ""Livraison"", ""en"": ""Delivery"", ""es"": ""A...",1
1,373750,1033809,55.80,2842,NaN,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
2,252222,740729,8.25,9632,NaN,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
3,139570,740730,13.95,9632,NaN,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
4,139562,740732,7.95,9632,NaN,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1

In [42]:
menu_item_prices_sub[~menu_item_prices_sub['MAITRED_ITEM_PRICE_ID'].isnull()]

,ITEM_ID,ITEM_PRICE_ID,UNIT_PRICE,SERVICE_ID,MAITRED_ITEM_PRICE_ID,NAME,TYPE
1204,748,2591,13.00,1017,30271.0,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
2393,399161,1579375,25.00,10533,4805631.0,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
2394,399190,1579376,30.00,10535,12808893.0,"{""fr"":""Livraison"",""en"":""Delivery"",""es"":""A domi...",1
2395,399190,1579377,25.00,10533,4786527.0,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
2396,685347,1579381,5.75,10533,12814393.0,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
...,...,...,...,...,...,...,...
1927133,267267,714654,2.99,19531,7183927.0,"{""fr"":""Emporter"",""en"":""Takeout"",""es"":""Para lle...",2
1927136,270233,726034,2.99,19328,6309526.0,"{""fr"":""Emporter"",""en"":""Takeout"",""es"":""Para lle...",2
1927137,270233,726044,2.99,19531,7199476.0,"{""fr"":""Emporter"",""en"":""Takeout"",""es"":""Para lle...",2
1927138,270233,726052,2.99,19349,6444884.0,"{""fr"":""Emporter"",""en"":""Takeout"",""es"":""Para lle...",2
1927139,270233,726074,2.99,19363,6519941.0,"{""fr"":""Emporter"",""en"":""Takeout"",""es"":""Para lle...",2

In [43]:
menu_item_prices_sub.shape

(1927162, 7)

In [44]:
menu_items_sub.columns

Index(['COMPANY_PROFILE_ID', 'HEADQUARTER_PROFILE_ID', 'ITEM_ID',
       'IS_DISABLED', 'IMAGE_PATH', 'ITEM_OPTION_ID', 'DISPLAY_NAME',
       'ITEM_NUMBER', 'PIECE_NUMBER', 'IS_USING_QUANTITY', 'VARIATION_TITLE',
       'MINIMUM_HOUR', 'MINIMUM_HOUR', 'ALLOW_NOTES', 'UNIVERSAL_PRODUCT_CODE',
       'HAS_ALCOHOL', 'MINIMUM_DATE', 'MAXIMUM_DATE', 'DAYS_OF_WEEK',
       'ITEM_KIND', 'IS_ACTIVE', 'NAME', 'DESCRIPTION',
       'MINIMUM_MINUTES_DELAY', 'TYPE', 'ADMIN_NAME'],
      dtype='object')

In [45]:
menu_categories_sub.columns

Index(['ITEM_ID', 'DISPLAY_NAME', 'CATEGORY_ID', 'IS_ACTIVE', 'ORDERS',
       'EXTRA_LINK_ID', 'NAME', 'MENU_ID', 'TYPE', 'DESCRIPTION',
       'DISPLAY_NAME', 'UPDATED_AT', 'MAXIMUM_HOUR', 'IS_DISABLED',
       'MINIMUM_DATE', 'CATEGORY_ID', 'CREATED_BY', 'DAYS_OF_WEEK',
       'PARENT_CATEGORY_ID'],
      dtype='object')

In [46]:
menu_items_sub.loc[menu_items_sub['ITEM_ID'] == 748]

,COMPANY_PROFILE_ID,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED,IMAGE_PATH,ITEM_OPTION_ID,DISPLAY_NAME,ITEM_NUMBER,PIECE_NUMBER,IS_USING_QUANTITY,...,MINIMUM_DATE,MAXIMUM_DATE,DAYS_OF_WEEK,ITEM_KIND,IS_ACTIVE,NAME,DESCRIPTION,MINIMUM_MINUTES_DELAY,TYPE,ADMIN_NAME
614994,8,4,748,False,"{""fr"":""/upload-temp/fe479698-3bca-449e-87ca-36...",NaN,"{""en"":""Chips Seul"",""fr"":""SALADE DE SAUMON SAUV...",None,NaN,False,...,NaT,NaT,0,0,True,"{""fr"":""La Serre""}","{""en"":"""",""fr"":""""}",0,0,SALADE DE SAUMON SAUVAGE - Chips Seul

In [47]:
menu_categories_sub.loc[menu_categories_sub['ITEM_ID'] == 748]

,ITEM_ID,DISPLAY_NAME,CATEGORY_ID,IS_ACTIVE,ORDERS,EXTRA_LINK_ID,NAME,MENU_ID,TYPE,DESCRIPTION,DISPLAY_NAME,UPDATED_AT,MAXIMUM_HOUR,IS_DISABLED,MINIMUM_DATE,CATEGORY_ID,CREATED_BY,DAYS_OF_WEEK,PARENT_CATEGORY_ID
6626,748,"{""en"":""Chips Seul"",""fr"":""SALADE DE SAUMON SAUV...",70,True,1,0,"{""fr"":""Repas""}",7,0,None,"{""en"":""Chips Seul"",""fr"":""SALADE DE SAUMON SAUV...",2017-05-03 18:09:35.987000+00:00,NaT,False,NaT,70,main.admin@cyprex.com,0,NaN

In [74]:
menu_categories_sub['ITEM_ID'].isin(menu_items_sub['ITEM_ID']).value_counts()

True    173705
Name: ITEM_ID, dtype: int64

In [73]:
import pandas as pd
menu_item_cat_inn = pd.merge(menu_items_sub, menu_categories_sub,  on='ITEM_ID', how='inner')

In [77]:
menu_item_cat_inn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173705 entries, 0 to 173704
Data columns (total 44 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   COMPANY_PROFILE_ID      173705 non-null  int64
 1   HEADQUARTER_PROFILE_ID  173705 non-null  int64
 2   ITEM_ID                 173705 non-null  int64
 3   IS_DISABLED_x           173705 non-null  bool
 4   IMAGE_PATH              103329 non-null  object
 5   ITEM_OPTION_ID          0 non-null       float64
 6   DISPLAY_NAME_x          173705 non-null  object
 7   ITEM_NUMBER             3928 non-null    object
 8   PIECE_NUMBER            14909 non-null   float64
 9   IS_USING_QUANTITY       173705 non-null  bool
 10  VARIATION_TITLE         4742 non-null    object
 11  MINIMUM_HOUR            1441 non-null    datetime64[ns, UTC]
 12  MINIMUM_HOUR            1441 non-null    datetime64[ns, UTC]
 13  ALLOW_NOTES             173705 non-null  bool
 14  UNIVERSAL_PRODUCT_CODE  158 non-null     object
 15  HAS_ALCOHOL             173705 non-null  bool
 16  MINIMUM_DATE_x          2907 non-null    datetime64[ns, UTC]
 17  MAXIMUM_DATE            1971 non-null    datetime64[ns, UTC]
 18  DAYS_OF_WEEK_x          173705 non-null  int64
 19  ITEM_KIND               173705 non-null  int64
 20  IS_ACTIVE_x             173705 non-null  bool
 21  NAME_x                  173705 non-null  object
 22  DESCRIPTION_x           147861 non-null  object
 23  MINIMUM_MINUTES_DELAY   173705 non-null  int64
 24  TYPE_x                  173705 non-null  int64
 25  ADMIN_NAME              173705 non-null  object
 26  DISPLAY_NAME_y          173705 non-null  object
 27  CATEGORY_ID             173705 non-null  int64
 28  IS_ACTIVE_y             173705 non-null  bool
 29  ORDERS                  173705 non-null  int64
 30  EXTRA_LINK_ID           173705 non-null  int64
 31  NAME_y                  173698 non-null  object
 32  MENU_ID                 173705 non-null  int64
 33  TYPE_y                  173705 non-null  int64
 34  DESCRIPTION_y           63011 non-null   object
 35  DISPLAY_NAME_y          173705 non-null  object
 36  UPDATED_AT              166626 non-null  datetime64[ns, UTC]
 37  MAXIMUM_HOUR            9025 non-null    datetime64[ns, UTC]
 38  IS_DISABLED_y           173705 non-null  bool
 39  MINIMUM_DATE_y          3450 non-null    datetime64[ns, UTC]
 40  CATEGORY_ID             173705 non-null  int64
 41  CREATED_BY              171844 non-null  object
 42  DAYS_OF_WEEK_y          173705 non-null  int64
 43  PARENT_CATEGORY_ID      5138 non-null    float64
dtypes: bool(7), datetime64[ns, UTC](7), float64(3), int64(14), object(13)
memory usage: 51.5+ MB

In [79]:
menu_item_cat_inn.iloc[:,[0,1,2,3,38,6,16,39,18,42,21,31,35]]

,COMPANY_PROFILE_ID,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED_x,IS_DISABLED_y,DISPLAY_NAME_x,MINIMUM_DATE_x,MINIMUM_DATE_y,DAYS_OF_WEEK_x,DAYS_OF_WEEK_y,NAME_x,NAME_y,DISPLAY_NAME_y
0,768,306,78108,False,True,"{""en"":""Ketchup ""}",NaT,NaT,0,0,"{""en"":""Loblaws"",""fr"":""Loblaws""}","{""fr"":""Condiments""}","{""en"":""Ketchup ""}"
1,768,306,78109,False,True,"{""en"":""Mustard""}",NaT,NaT,0,0,"{""en"":""Loblaws"",""fr"":""Loblaws""}","{""fr"":""Condiments""}","{""en"":""Mustard""}"
2,768,306,78111,False,True,"{""en"":""Vinegar""}",NaT,NaT,0,0,"{""en"":""Loblaws"",""fr"":""Loblaws""}","{""fr"":""Condiments""}","{""en"":""Vinegar""}"
3,768,306,78252,False,True,"{""en"":""Condiments""}",NaT,NaT,0,0,"{""en"":""Loblaws"",""fr"":""Loblaws""}","{""fr"":""Condiments""}","{""en"":""Condiments""}"
4,1280,507,125878,False,True,"{""fr"":""Smoothies""}",NaT,NaT,0,0,"{""fr"":""Ô Chef"",""en"":""O Chef""}","{""fr"":""BOISSONS GLACÉES"",""en"":""ICED DRINKS""}","{""fr"":""Smoothies""}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173700,3105,1242,284925,False,False,"{""fr"":""Quiche légumes""}",NaT,NaT,0,0,"{""fr"":""Les Finesses d'Alsace""}","{""fr"":""LA SOUPE, LES SALADES, LES QUICHES""}","{""fr"":""Quiche légumes""}"
173701,3105,1242,284926,False,False,"{""fr"":""Quiche jambon""}",NaT,NaT,0,0,"{""fr"":""Les Finesses d'Alsace""}","{""fr"":""LA SOUPE, LES SALADES, LES QUICHES""}","{""fr"":""Quiche jambon""}"
173702,3105,1242,284947,False,False,"{""fr"":""Boissons gazeuses""}",NaT,NaT,0,0,"{""fr"":""Les Finesses d'Alsace""}","{""fr"":""LES BREUVAGES""}","{""fr"":""Boissons gazeuses""}"
173703,3105,1242,284952,False,False,"{""fr"":""Eau Bubbly""}",NaT,NaT,0,0,"{""fr"":""Les Finesses d'Alsace""}","{""fr"":""LES BREUVAGES""}","{""fr"":""Eau Bubbly""}"
173704,3105,1242,284959,False,False,"{""fr"":""Café""}",NaT,NaT,0,0,"{""fr"":""Les Finesses d'Alsace""}","{""fr"":""LES CAFÉS""}","{""fr"":""Café""}"

In [82]:
menu_items_sub.shape

(623695, 26)

In [57]:
menu_item_cat_inn = pd.merge(menu_items_sub, menu_categories_sub,  on='ITEM_ID', how='inner')

In [60]:
menu_item_cat_inn.shape

(173705, 44)

In [59]:
menu_item_cat_inn.iloc[:,[0,1,2,3, 6,16,18, 21,24,28,31,33]]

,COMPANY_PROFILE_ID,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED_x,DISPLAY_NAME_x,MINIMUM_DATE_x,DAYS_OF_WEEK_x,NAME_x,TYPE_x,IS_ACTIVE_y,NAME_y,TYPE_y
0,768,306,78108,False,"{""en"":""Ketchup ""}",NaT,0,"{""en"":""Loblaws"",""fr"":""Loblaws""}",0,True,"{""fr"":""Condiments""}",0
1,768,306,78109,False,"{""en"":""Mustard""}",NaT,0,"{""en"":""Loblaws"",""fr"":""Loblaws""}",0,True,"{""fr"":""Condiments""}",0
2,768,306,78111,False,"{""en"":""Vinegar""}",NaT,0,"{""en"":""Loblaws"",""fr"":""Loblaws""}",0,True,"{""fr"":""Condiments""}",0
3,768,306,78252,False,"{""en"":""Condiments""}",NaT,0,"{""en"":""Loblaws"",""fr"":""Loblaws""}",0,True,"{""fr"":""Condiments""}",0
4,1280,507,125878,False,"{""fr"":""Smoothies""}",NaT,0,"{""fr"":""Ô Chef"",""en"":""O Chef""}",0,True,"{""fr"":""BOISSONS GLACÉES"",""en"":""ICED DRINKS""}",0
...,...,...,...,...,...,...,...,...,...,...,...,...
173700,3105,1242,284925,False,"{""fr"":""Quiche légumes""}",NaT,0,"{""fr"":""Les Finesses d'Alsace""}",0,True,"{""fr"":""LA SOUPE, LES SALADES, LES QUICHES""}",0
173701,3105,1242,284926,False,"{""fr"":""Quiche jambon""}",NaT,0,"{""fr"":""Les Finesses d'Alsace""}",0,True,"{""fr"":""LA SOUPE, LES SALADES, LES QUICHES""}",0
173702,3105,1242,284947,False,"{""fr"":""Boissons gazeuses""}",NaT,0,"{""fr"":""Les Finesses d'Alsace""}",0,True,"{""fr"":""LES BREUVAGES""}",0
173703,3105,1242,284952,False,"{""fr"":""Eau Bubbly""}",NaT,0,"{""fr"":""Les Finesses d'Alsace""}",0,True,"{""fr"":""LES BREUVAGES""}",0
173704,3105,1242,284959,False,"{""fr"":""Café""}",NaT,0,"{""fr"":""Les Finesses d'Alsace""}",0,True,"{""fr"":""LES CAFÉS""}",0

In [53]:
menu_item_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173705 entries, 0 to 173704
Data columns (total 44 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   COMPANY_PROFILE_ID      173705 non-null  int64
 1   HEADQUARTER_PROFILE_ID  173705 non-null  int64
 2   ITEM_ID                 173705 non-null  int64
 3   IS_DISABLED_x           173705 non-null  bool
 4   IMAGE_PATH              103329 non-null  object
 5   ITEM_OPTION_ID          0 non-null       float64
 6   DISPLAY_NAME_x          173705 non-null  object
 7   ITEM_NUMBER             3928 non-null    object
 8   PIECE_NUMBER            14909 non-null   float64
 9   IS_USING_QUANTITY       173705 non-null  bool
 10  VARIATION_TITLE         4742 non-null    object
 11  MINIMUM_HOUR            1441 non-null    datetime64[ns, UTC]
 12  MINIMUM_HOUR            1441 non-null    datetime64[ns, UTC]
 13  ALLOW_NOTES             173705 non-null  bool
 14  UNIVERSAL_PRODUCT_CODE  158 non-null     object
 15  HAS_ALCOHOL             173705 non-null  bool
 16  MINIMUM_DATE_x          2907 non-null    datetime64[ns, UTC]
 17  MAXIMUM_DATE            1971 non-null    datetime64[ns, UTC]
 18  DAYS_OF_WEEK_x          173705 non-null  int64
 19  ITEM_KIND               173705 non-null  int64
 20  IS_ACTIVE_x             173705 non-null  bool
 21  NAME_x                  173705 non-null  object
 22  DESCRIPTION_x           147861 non-null  object
 23  MINIMUM_MINUTES_DELAY   173705 non-null  int64
 24  TYPE_x                  173705 non-null  int64
 25  ADMIN_NAME              173705 non-null  object
 26  DISPLAY_NAME_y          173705 non-null  object
 27  CATEGORY_ID             173705 non-null  int64
 28  IS_ACTIVE_y             173705 non-null  bool
 29  ORDERS                  173705 non-null  int64
 30  EXTRA_LINK_ID           173705 non-null  int64
 31  NAME_y                  173698 non-null  object
 32  MENU_ID                 173705 non-null  int64
 33  TYPE_y                  173705 non-null  int64
 34  DESCRIPTION_y           63011 non-null   object
 35  DISPLAY_NAME_y          173705 non-null  object
 36  UPDATED_AT              166626 non-null  datetime64[ns, UTC]
 37  MAXIMUM_HOUR            9025 non-null    datetime64[ns, UTC]
 38  IS_DISABLED_y           173705 non-null  bool
 39  MINIMUM_DATE_y          3450 non-null    datetime64[ns, UTC]
 40  CATEGORY_ID             173705 non-null  int64
 41  CREATED_BY              171844 non-null  object
 42  DAYS_OF_WEEK_y          173705 non-null  int64
 43  PARENT_CATEGORY_ID      5138 non-null    float64
dtypes: bool(7), datetime64[ns, UTC](7), float64(3), int64(14), object(13)
memory usage: 51.5+ MB

In [51]:
menu_item_cat.head(5)

,COMPANY_PROFILE_ID,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED_x,IMAGE_PATH,ITEM_OPTION_ID,DISPLAY_NAME_x,ITEM_NUMBER,PIECE_NUMBER,IS_USING_QUANTITY,...,DESCRIPTION_y,DISPLAY_NAME_y,UPDATED_AT,MAXIMUM_HOUR,IS_DISABLED_y,MINIMUM_DATE_y,CATEGORY_ID,CREATED_BY,DAYS_OF_WEEK_y,PARENT_CATEGORY_ID
0,768,306,78108,False,None,NaN,"{""en"":""Ketchup ""}",None,NaN,False,...,None,"{""en"":""Ketchup ""}",NaT,NaT,True,NaT,3517, ,0,NaN
1,768,306,78109,False,None,NaN,"{""en"":""Mustard""}",None,NaN,False,...,None,"{""en"":""Mustard""}",NaT,NaT,True,NaT,3517, ,0,NaN
2,768,306,78111,False,None,NaN,"{""en"":""Vinegar""}",None,NaN,False,...,None,"{""en"":""Vinegar""}",NaT,NaT,True,NaT,3517, ,0,NaN
3,768,306,78252,False,None,NaN,"{""en"":""Condiments""}",None,NaN,False,...,None,"{""en"":""Condiments""}",NaT,NaT,True,NaT,3517, ,0,NaN
4,1280,507,125878,False,None,NaN,"{""fr"":""Smoothies""}",None,NaN,False,...,None,"{""fr"":""Smoothies""}",2020-08-05 14:00:45.517000+00:00,NaT,True,NaT,5703, ,0,NaN

In [111]:
menu_items_sub.shape

(623695, 26)

In [102]:
tblList = [menu_items_sub, menu_categories_sub, feature_items_df_disc, menu_item_attributes_text, menu_item_prices_sub]  # List of your dataframes
new_df = pd.concat(tblList, axis = 1)

# new_df.shape

In [115]:
new_df.columns

Index(['COMPANY_PROFILE_ID', 'HEADQUARTER_PROFILE_ID', 'ITEM_ID',
       'IS_DISABLED', 'IMAGE_PATH', 'ITEM_OPTION_ID', 'DISPLAY_NAME',
       'ITEM_NUMBER', 'PIECE_NUMBER', 'IS_USING_QUANTITY', 'VARIATION_TITLE',
       'MINIMUM_HOUR', 'MINIMUM_HOUR', 'ALLOW_NOTES', 'UNIVERSAL_PRODUCT_CODE',
       'HAS_ALCOHOL', 'MINIMUM_DATE', 'MAXIMUM_DATE', 'DAYS_OF_WEEK',
       'ITEM_KIND', 'IS_ACTIVE', 'NAME', 'DESCRIPTION',
       'MINIMUM_MINUTES_DELAY', 'TYPE', 'ADMIN_NAME', 'ITEM_ID',
       'DISPLAY_NAME', 'CATEGORY_ID', 'IS_ACTIVE', 'ORDERS', 'EXTRA_LINK_ID',
       'NAME', 'MENU_ID', 'TYPE', 'DESCRIPTION', 'DISPLAY_NAME', 'UPDATED_AT',
       'MAXIMUM_HOUR', 'IS_DISABLED', 'MINIMUM_DATE', 'CATEGORY_ID',
       'CREATED_BY', 'DAYS_OF_WEEK', 'PARENT_CATEGORY_ID', 'ITEM_ID',
       'MAIN_LANGUAGE', 'DISPLAY_NAME', 'DESCRIPTION', 'CATEGORY_IDS',
       'CATEGORY_NAMES', 'CATEGORY_MAIN_LANGUAGES', 'OPTION_GROUP_IDS',
       'OPTION_GROUP_NAMES', 'OPTION_GROUP_MAIN_LANGUAGES', 'ROOT_ITEM_IDS',
       'ROOT_ITEM_DISPLAY_NAMES', 'IS_ITEM', 'IS_OPTION', 'IS_VARIATION',
       'IS_SUGGESTION', 'IS_CATEGORIZED', 'MIN_UNIT_PRICE', 'AVG_UNIT_PRICE',
       'MAX_UNIT_PRICE', 'NUM_UNIT_PRICES', 'EVENT_TIMESTAMP', 'ITEM_ID',
       'DISH_TYPE', 'DRINK_TYPE', 'MAIN_INGREDIENTS', 'COOKING_METHOD',
       'TEMPERATURE', 'FLAVOR', 'DIET', 'SAUCE', 'ALLERGENS', 'OTHERS',
       'COMPANY_PROFILE_ID', 'ITEM_ID', 'ITEM_PRICE_ID', 'UNIT_PRICE',
       'SERVICE_ID', 'MAITRED_ITEM_PRICE_ID', 'NAME', 'TYPE'],
      dtype='object')

In [93]:
from functools import reduce

df_merged = reduce(lambda left,right: pd.merge(left,right,on=['ITEM_ID'],
        how='inner'), tblList)

In [96]:
df_merged.shape

(129097, 82)

In [100]:
df_merged.iloc[:,[75,0,1,2,3,4,5,6,7,8,9]]

,COMPANY_PROFILE_ID_y,COMPANY_PROFILE_ID_x,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED_x,IMAGE_PATH,ITEM_OPTION_ID,DISPLAY_NAME_x,ITEM_NUMBER,PIECE_NUMBER,IS_USING_QUANTITY
0,5632,5632,438,485152,False,"{""en"":""e2db4c0c-4850-4b6f-a050-58e3f4ce7612.jpg""}",NaN,"{""fr"":""Eau gazéifiée Citron Montellier"",""en"":""...",None,355.0,False
1,5632,5632,438,485152,False,"{""en"":""e2db4c0c-4850-4b6f-a050-58e3f4ce7612.jpg""}",NaN,"{""fr"":""Eau gazéifiée Citron Montellier"",""en"":""...",None,355.0,False
2,5632,5632,438,485152,False,"{""en"":""e2db4c0c-4850-4b6f-a050-58e3f4ce7612.jpg""}",NaN,"{""fr"":""Eau gazéifiée Citron Montellier"",""en"":""...",None,355.0,False
3,1544,1544,616,434811,False,"{""en"":""fa408aff-4e76-43cc-9f77-167c7c204847.jpg""}",NaN,"{""fr"":""TOKYO BLONDE, FAR YEAST 330ml"",""en"":""TO...",None,NaN,False
4,1544,1544,616,434811,False,"{""en"":""fa408aff-4e76-43cc-9f77-167c7c204847.jpg""}",NaN,"{""fr"":""TOKYO BLONDE, FAR YEAST 330ml"",""en"":""TO...",None,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
129092,5629,5629,755,454772,False,"{""fr"":""95990305-47e0-4118-a240-85dfc46890c9.jpg""}",NaN,"{""fr"":""GROS POT DE SAUCE PEANUT MAISON 500ml""}",None,1.0,False
129093,5629,5629,755,454776,False,"{""fr"":""80739ed1-b204-4830-8d75-484a6bef32b5.png""}",NaN,"{""fr"":""FLAN MAISON CAFÉ VIETNAMIEN""}",None,NaN,False
129094,5629,5629,755,454776,False,"{""fr"":""80739ed1-b204-4830-8d75-484a6bef32b5.png""}",NaN,"{""fr"":""FLAN MAISON CAFÉ VIETNAMIEN""}",None,NaN,False
129095,5629,5629,755,454779,True,"{""fr"":""63663e46-dcba-49e3-8ed0-dbb94c1b9e92.jpg""}",NaN,"{""fr"":""Poutine «Thit Kho» porc caramel ""}",None,NaN,False
129096,5629,5629,755,454779,True,"{""fr"":""63663e46-dcba-49e3-8ed0-dbb94c1b9e92.jpg""}",NaN,"{""fr"":""Poutine «Thit Kho» porc caramel ""}",None,NaN,False

In [97]:
82-7

75

In [89]:
df_merged.shape

(129097, 82)

In [90]:
df_merged.head(10)

,COMPANY_PROFILE_ID_x,HEADQUARTER_PROFILE_ID,ITEM_ID,IS_DISABLED_x,IMAGE_PATH,ITEM_OPTION_ID,DISPLAY_NAME_x,ITEM_NUMBER,PIECE_NUMBER,IS_USING_QUANTITY,...,SAUCE,ALLERGENS,OTHERS,COMPANY_PROFILE_ID_y,ITEM_PRICE_ID,UNIT_PRICE,SERVICE_ID,MAITRED_ITEM_PRICE_ID,NAME,TYPE
0,11,6,805,False,"{""fr"":""3a2e077f-54aa-4648-8a32-cbbfcf46ae81.jpg""}",NaN,"{""en"":""sakari escolar"",""fr"":""Sakari escolar ca...",None,4.0,False,...,"[\n ""Inconnu""\n]","[\n ""Inconnu""\n]","[\n ""Aucun""\n]",11,2539,11.0,1021,32297.0,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
1,11,6,805,False,"{""fr"":""3a2e077f-54aa-4648-8a32-cbbfcf46ae81.jpg""}",NaN,"{""en"":""sakari escolar"",""fr"":""Sakari escolar ca...",None,4.0,False,...,"[\n ""Inconnu""\n]","[\n ""Inconnu""\n]","[\n ""Aucun""\n]",11,12088,11.0,1020,32297.0,"{""fr"":""Tuktuk livraison"",""en"":""Delivery"",""es"":...",1
2,11,6,805,False,"{""fr"":""3a2e077f-54aa-4648-8a32-cbbfcf46ae81.jpg""}",NaN,"{""en"":""sakari escolar"",""fr"":""Sakari escolar ca...",None,4.0,False,...,"[\n ""Inconnu""\n]","[\n ""Inconnu""\n]","[\n ""Aucun""\n]",11,150613,9.0,1040,NaN,"{""fr"": ""À la table"", ""en"": ""At the table"", ""es...",3
3,11,6,805,False,"{""fr"":""3a2e077f-54aa-4648-8a32-cbbfcf46ae81.jpg""}",NaN,"{""en"":""sakari escolar"",""fr"":""Sakari escolar ca...",None,4.0,False,...,"[\n ""Inconnu""\n]","[\n ""Inconnu""\n]","[\n ""Aucun""\n]",11,150614,9.0,1041,NaN,"{""fr"": ""À la chambre"", ""en"": ""At the room"", ""e...",4
4,11,6,806,False,"{""fr"":""0c76c729-ea59-4678-8b87-dc9f06160688.jpg""}",NaN,"{""en"":""sakari thon"",""fr"":""Sakari thon sauce ma...",None,4.0,False,...,"[\n ""Inconnu""\n]","[\n ""Inconnu""\n]","[\n ""Aucun""\n]",11,2540,11.0,1021,32292.0,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
5,11,6,806,False,"{""fr"":""0c76c729-ea59-4678-8b87-dc9f06160688.jpg""}",NaN,"{""en"":""sakari thon"",""fr"":""Sakari thon sauce ma...",None,4.0,False,...,"[\n ""Inconnu""\n]","[\n ""Inconnu""\n]","[\n ""Aucun""\n]",11,12091,11.0,1020,32292.0,"{""fr"":""Tuktuk livraison"",""en"":""Delivery"",""es"":...",1
6,11,6,806,False,"{""fr"":""0c76c729-ea59-4678-8b87-dc9f06160688.jpg""}",NaN,"{""en"":""sakari thon"",""fr"":""Sakari thon sauce ma...",None,4.0,False,...,"[\n ""Inconnu""\n]","[\n ""Inconnu""\n]","[\n ""Aucun""\n]",11,150611,8.5,1040,NaN,"{""fr"": ""À la table"", ""en"": ""At the table"", ""es...",3
7,11,6,806,False,"{""fr"":""0c76c729-ea59-4678-8b87-dc9f06160688.jpg""}",NaN,"{""en"":""sakari thon"",""fr"":""Sakari thon sauce ma...",None,4.0,False,...,"[\n ""Inconnu""\n]","[\n ""Inconnu""\n]","[\n ""Aucun""\n]",11,150612,8.5,1041,NaN,"{""fr"": ""À la chambre"", ""en"": ""At the room"", ""e...",4
8,11,6,807,False,"{""fr"":""cf123cab-be1b-46ba-9ef2-42999b113ef8.jpg""}",NaN,"{""en"":""sakari saumon"",""fr"":""Sakari saumon gril...",None,4.0,False,...,"[\n ""Inconnu""\n]","[\n ""Inconnu""\n]","[\n ""Aucun""\n]",11,2541,11.0,1021,32287.0,"{""fr"": ""Pour emporter"", ""en"": ""Takeout"", ""es"":...",2
9,11,6,807,False,"{""fr"":""cf123cab-be1b-46ba-9ef2-42999b113ef8.jpg""}",NaN,"{""en"":""sakari saumon"",""fr"":""Sakari saumon gril...",None,4.0,False,...,"[\n ""Inconnu""\n]","[\n ""Inconnu""\n]","[\n ""Aucun""\n]",11,12090,11.0,1020,32287.0,"{""fr"":""Tuktuk livraison"",""en"":""Delivery"",""es"":...",1

In [91]:
df_merged.columns

Index(['COMPANY_PROFILE_ID_x', 'HEADQUARTER_PROFILE_ID', 'ITEM_ID',
       'IS_DISABLED_x', 'IMAGE_PATH', 'ITEM_OPTION_ID', 'DISPLAY_NAME_x',
       'ITEM_NUMBER', 'PIECE_NUMBER', 'IS_USING_QUANTITY', 'VARIATION_TITLE',
       'MINIMUM_HOUR', 'MINIMUM_HOUR', 'ALLOW_NOTES', 'UNIVERSAL_PRODUCT_CODE',
       'HAS_ALCOHOL', 'MINIMUM_DATE_x', 'MAXIMUM_DATE', 'DAYS_OF_WEEK_x',
       'ITEM_KIND', 'IS_ACTIVE_x', 'NAME_x', 'DESCRIPTION_x',
       'MINIMUM_MINUTES_DELAY', 'TYPE_x', 'ADMIN_NAME', 'DISPLAY_NAME_y',
       'CATEGORY_ID', 'IS_ACTIVE_y', 'ORDERS', 'EXTRA_LINK_ID', 'NAME_y',
       'MENU_ID', 'TYPE_y', 'DESCRIPTION_y', 'DISPLAY_NAME_y', 'UPDATED_AT',
       'MAXIMUM_HOUR', 'IS_DISABLED_y', 'MINIMUM_DATE_y', 'CATEGORY_ID',
       'CREATED_BY', 'DAYS_OF_WEEK_y', 'PARENT_CATEGORY_ID', 'MAIN_LANGUAGE',
       'DISPLAY_NAME', 'DESCRIPTION', 'CATEGORY_IDS', 'CATEGORY_NAMES',
       'CATEGORY_MAIN_LANGUAGES', 'OPTION_GROUP_IDS', 'OPTION_GROUP_NAMES',
       'OPTION_GROUP_MAIN_LANGUAGES', 'ROOT_ITEM_IDS',
       'ROOT_ITEM_DISPLAY_NAMES', 'IS_ITEM', 'IS_OPTION', 'IS_VARIATION',
       'IS_SUGGESTION', 'IS_CATEGORIZED', 'MIN_UNIT_PRICE', 'AVG_UNIT_PRICE',
       'MAX_UNIT_PRICE', 'NUM_UNIT_PRICES', 'EVENT_TIMESTAMP', 'DISH_TYPE',
       'DRINK_TYPE', 'MAIN_INGREDIENTS', 'COOKING_METHOD', 'TEMPERATURE',
       'FLAVOR', 'DIET', 'SAUCE', 'ALLERGENS', 'OTHERS',
       'COMPANY_PROFILE_ID_y', 'ITEM_PRICE_ID', 'UNIT_PRICE', 'SERVICE_ID',
       'MAITRED_ITEM_PRICE_ID', 'NAME', 'TYPE'],
      dtype='object')